/* This file is for your main application css. */
.jumbotron {
  background-color: #FFF;
}

.jumbotron.custom {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: normal;*/
  padding: 20px 15px 20px 15px;

}

.required-field:before {
  content: "*";
}

input {
  margin: 5px;
}

input[type=radio], input[type=checkbox] {
  margin-right: 10px;
}

label.stacked-label {
  display: block;
  width: 70%;
  padding-left: 30px;
}

p.required-field, p.jon{
  text-indent: 1em;
}

td, th {
  text-align: center;
}

td:first-child {
  column-width: 200px;
}

dt, dl {
  margin-top: 2em;
}

tr td a:hover {
  cursor: pointer;
}

li.directions {
  text-align: left;
}

.map {
  margin: 1em;
}

.activity-img {
  float: left;
  margin-right: 5px;
}

.activity-section {
  border: 1px solid black;
  margin: 3px;
  box-shadow: 2px 2px 2px;
  min-width: 388px;
}
